@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coustard:900&display=swap");
@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/montserrat-light.ttf") format("truetype");
}
@font-face {
  font-family: "keept__";
  src: url("../fonts/keept__.ttf") format("truetype");
}
/* Small only */
/* Medium and up */
/* Medium and down */
/* Medium only */
/* Large and up */
/* Large and down */
/* Large only */
body {
  font-family: "KEEPT__", truetype;
  color: white !important;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: "KEEPT__", truetype;
  color: black;
}
body p {
  font-family: "KEEPT__", truetype;
  font-size: 24px;
  font-weight: 200;
}
body a {
  transition: all 0.5s;
}
body a:hover {
  color: #9ba966;
}

/*Navbar*/
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 120px;
  z-index: 10;
  transition: all 0.3s ease;
}
.navbar__background {
  height: 130px;
  width: 100%;
  position: absolute;
  background-color: white;
}
.navbar a {
  padding: 0 25px;
  color: white;
  font-size: 26px;
  font-family: "KEEPT__", truetype;
}
@media screen and (max-width: 64em) {
  .navbar a {
    font-size: 20px;
    padding: 0 10px;
  }
}

#txtFullName {
  resize: none !important;
}

.body-content {
  background-color: white;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: 0 -200px;
  overflow-x: hidden;
}

.rsvp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 50%;
  padding: 25px;
}
@media screen and (max-width: 39.9375em) {
  .rsvp {
    top: 20%;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .rsvp {
    top: 63%;
  }
}

.grid-container__large {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}

.max-height {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.fade {
  transition: opacity 0.7s ease-in;
  transition: all 0.7s;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

/*::-webkit-scrollbar {
    width: 10px;
}*/
/* Track */
/*::-webkit-scrollbar-track {
    background: #f1f1f1;
}*/
/* Handle */
/*::-webkit-scrollbar-thumb {
    background: $wedding-grey;
    border-radius: 20px;
}*/
/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/
@media screen and (min-width: 768px) {
  .body-content {
    padding: 0;
  }
}
a:hover {
  color: pink;
}

.grid-container__small {
  max-width: 64rem !important;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-left: auto;
  margin-right: auto;
}

footer h5 {
  padding: 0 0 20px 20px;
  font-family: "montserrat-light", truetype;
}

.max-width {
  width: 100%;
}
