@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coustard:900&display=swap");
@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/montserrat-light.ttf") format("truetype");
}
@font-face {
  font-family: "keept__";
  src: url("../fonts/keept__.ttf") format("truetype");
}
/* Small only */
/* Medium and up */
/* Medium and down */
/* Medium only */
/* Large and up */
/* Large and down */
/* Large only */
/*//shortcuts
$s: solid;
$a: absolute;
$tb: 46px;
$lr: 70px;
$br: 6px;
//color variables
$left: #fa565a;
$right: #ed4c50;
$bottom: #fa565a;
$txt: #b0b0b0;
$top: #c94548;

.container, .envelope, .flip, .letter, .text, .text:before, .text:after {
    position: $a;
}

.envelope-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.envelope {
    border-top: $tb $s transparent;
    border-left: $lr $s $left;
    border-bottom: $tb $s $bottom;
    border-right: $lr $s $right;
    border-radius: $br;
    z-index: 9;
}

.flip {
    top: -45px;
    left: -70px;
    border-top: $tb $s $top;
    border-left: $lr $s transparent;
    border-bottom: $tb $s transparent;
    border-right: $lr $s transparent;
    border-radius: $br;
    z-index: 6;
}

.letter {
    top: 0px;
    left: 2px;
    height: 92px;
    width: 136px;
    background: #ddd;
    border-radius: $br;
    z-index: 5;
}

.text {
    top: 10px;
    left: 12px;
    height: 6px;
    width: 100px;
    background: $txt;
}

.text:before, .text:after {
    content: '';
    height: 100%;
    background: $txt;
    left: 0px;
}

.text:before {
    top: 10px;
    width: 50px;
}

.text:after {
    top: 20px;
    width: 65px;
}*/
/*Classes to be Added and removed*/
/*.open {
    animation: flipOpen .4s ease-in forwards;
}

.close {
    animation: flipClose .4s ease-in forwards;
}

.letterOpen {
    top: -40px;
    transition: .3s ease-in;
}

.letterClose {
    top: 0px;
    transition: .3s ease-in;
}
//animations
@keyframes flipOpen {
    0% {
        transform: rotateX(0deg);
        transform-origin: center top;
    }

    100% {
        transform: rotateX(180deg);
        transform-origin: center top;
    }
}

@keyframes flipClose {
    0% {
        transform: rotateX(180deg);
        transform-origin: center top;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: center top;
    }
}
//buttons
button {
    color: #ddd;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    border: none;
    letter-spacing: 1px;
    background: $right;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}

#open {
    margin-top: -10px;
    margin-bottom: 8px;
}

#close {
    outline: none;
    background: #ccc;
    color: #ddd;
    cursor: not-allowed;
}

#open:focus ~ #close {
    cursor: pointer;
    background: $right;
}

b:first-child {
    color: #E31B23;
    text-shadow: 0 0 3px #000;
}

b:last-child {
    color: blue;
    text-shadow: 0 0 2px #000;
}

hr {
    width: 300px;
    margin: 100px auto;
    height: 4px;
    background-color: #666;
    border: 0px;
}*/
.main-banner {
  background-color: #a97366;
  height: 100vh;
  clip-path: ellipse(125% 100% at 50% 0%);
}
@media screen and (max-width: 63.9375em) {
  .main-banner {
    height: 90vh;
  }
}
.main-banner__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 100px 25px;
}
@media screen and (max-width: 39.9375em) {
  .main-banner__text {
    padding: 0 0 75px 25px;
  }
}
.main-banner__text h1, .main-banner__text h3 {
  color: white;
}
.main-banner__text h1 {
  font-size: 100px;
  line-height: 0.8;
  max-width: 450px;
}
@media screen and (max-width: 63.9375em) {
  .main-banner__text h1 {
    max-width: 100%;
    font-size: 80px;
  }
}
.main-banner__text h3 {
  font-size: 42px;
}
@media screen and (max-width: 63.9375em) {
  .main-banner__text h3 {
    font-size: 34px;
  }
}
.main-banner .cell:nth-child(2) {
  background-image: url("../images/bench.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 63.9375em) {
  .main-banner .cell:nth-child(2) {
    height: 50vh;
    order: -1;
  }
}
.main-banner .cell:nth-child(2).tint::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 63.9375em) {
  .main-banner .max-height {
    justify-content: center;
  }
}

.map-block .basic-banner {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 35vh;
  background-color: #a97366;
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0 100%);
  /* top: -145px;*/
  /*margin: -115px 0;*/
}
.map-block .basic-banner h1, .map-block .basic-banner p {
  margin-left: 45px;
  padding-top: 30px;
  color: white;
  line-height: 1;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .map-block .basic-banner h1, .map-block .basic-banner p {
    font-size: 24px;
  }
}
@media screen and (max-width: 39.9375em) {
  .map-block .basic-banner h1, .map-block .basic-banner p {
    font-size: 18px;
    margin-left: 15px;
  }
}
.map-block .basic-banner p {
  font-family: "montserrat-light", truetype;
}
.map-block .basic-banner__map__bg {
  position: relative;
  z-index: 2;
  background-color: #9ba966;
  width: 100%;
  height: 215px;
  margin-top: -220px;
  clip-path: polygon(0 0, 100% 85%, 100% 100%, 0 55%);
}
@media screen and (max-width: 63.9375em) {
  .map-block .basic-banner__map__bg {
    clip-path: polygon(0 0, 100% 90%, 100% 100%, 0 100%);
  }
}
@media screen and (max-width: 63.9375em) and (max-width: 39.9375em) {
  .map-block .basic-banner__map__bg {
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
    height: 100px;
    margin-top: -75px;
  }
}
.map-block .basic-banner__map iframe {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  /* margin-top: -350px;*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .map-block .basic-banner__map iframe {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 39.9375em) {
  .map-block .basic-banner__map iframe {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.more-info-block p {
  color: black;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 100px;
}

.media-block {
  margin-bottom: 100px;
}
.media-block h2 {
  margin-bottom: 50px;
}
@media screen and (max-width: 63.9375em) {
  .media-block h2 {
    margin-bottom: 0;
  }
}
.media-block h5, .media-block h3 {
  line-height: 1;
  text-align: center;
  padding-bottom: 10px;
}
.media-block .polaroid-cont {
  padding: 50px;
  border: 1px solid black;
}
@media screen and (max-width: 63.9375em) {
  .media-block .polaroid-cont {
    margin-top: 50px;
  }
}
@media screen and (max-width: 39.9375em) {
  .media-block .polaroid-cont {
    padding: 30px;
  }
}
.media-block .polaroid-cont h3 {
  margin-top: 20px;
}
.media-block .spotify-cont {
  border: 5px dashed black;
  border-radius: 10px;
  padding: 50px;
}
@media screen and (max-width: 63.9375em) {
  .media-block .spotify-cont {
    margin-top: 50px;
  }
}

.accomadation-block {
  margin-top: 45px;
  margin-bottom: 100px;
}
.accomadation-block h2 {
  margin-bottom: 50px;
}
@media screen and (max-width: 63.9375em) {
  .accomadation-block h2 {
    margin-bottom: 0;
  }
}
.accomadation-block .content-cont {
  background-color: #a97366;
  padding: 30px;
  border-radius: 5px;
}
.accomadation-block ul {
  margin-top: 50px;
}
.accomadation-block ul li {
  font-family: "KEEPT__", truetype;
  font-size: 24px;
  list-style: circle;
  color: white;
}
@media screen and (max-width: 39.9375em) {
  .accomadation-block ul li {
    font-size: 18px;
  }
}
.accomadation-block ul li a {
  text-decoration: underline;
  color: white;
}
.accomadation-block ul li a:hover {
  color: #a97366;
}
.accomadation-block h4 {
  font-size: 18px;
  color: white;
}
.accomadation-block p {
  color: black;
  font-family: "Dancing Script", sans-seri;
  max-width: 550px;
  padding-right: 20px;
  line-height: 1.2;
}
.accomadation-block__img-container {
  position: relative;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .accomadation-block__img-container {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 39.9375em) {
  .accomadation-block__img-container {
    margin-top: 75px;
    max-width: 350px;
  }
}
.accomadation-block__img-container img {
  position: relative;
  z-index: 1;
  border-radius: 300px 300px 5px 5px;
}
.accomadation-block__img-container__shadow {
  background-color: #9ba966;
  height: 100%;
  width: 585px;
  position: absolute;
  left: 25px;
  top: -25px;
  z-index: 0;
  border-radius: 300px 300px 5px 5px;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .accomadation-block__img-container__shadow {
    width: 100%;
    max-width: 400px;
  }
}
@media screen and (max-width: 39.9375em) {
  .accomadation-block__img-container__shadow {
    max-width: 350px;
  }
}
@media screen and (max-width: 63.9375em) {
  .accomadation-block .cell:nth-child(2) {
    order: -1;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}
@keyframes rotateDiscoBall {
  0% {
    transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}
@-webkit-keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}
@keyframes rotateDiscoBallMiddle {
  0% {
    transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}
@-webkit-keyframes reflect {
  0% {
    -webkit-filter: brightness(60%);
  }
  50% {
    -webkit-filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(90%);
  }
}
@keyframes reflect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
#discoBall {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -50px;
  transform: translate(-50%, -50%);
  -webkit-animation: rotateDiscoBall 18s linear infinite;
  animation: rotateDiscoBall 18s linear infinite;
}
@media screen and (max-width: 64em) {
  #discoBall {
    top: 45%;
  }
}

/*#discoBallLight {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -50px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.2;
    -webkit-filter: blur(20px);

    @media screen and (max-width: 64em) {
        top: 45%;
    }
}*/
.square {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 6px;
  height: 6px;
  position: absolute;
  transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
}

#discoBallMiddle {
  height: 100%;
  border-radius: 100%;
  background-color: #111;
  position: absolute;
  background: -webkit-linear-gradient(top, #111, #333);
  background: -moz-linear-gradient(top, #111, #333);
  background: linear-gradient(top, #111, #333);
  -webkit-animation: rotateDiscoBallMiddle 18s linear infinite;
  animation: rotateDiscoBallMiddle 18s linear infinite;
}

.info-block {
  height: 750px;
  padding: 75px 0;
  background: white;
  /*background: rgb(169,115,102);*/
  /*background: linear-gradient(180deg, rgba(169,115,102,1) 5%, rgba(254,254,254,0) 45%);*/
  /*    h4, p, a {
      color: black;
      line-height: 1;
  }


  h4 {
      font-family: $simple-font;
  }*/
}
@media screen and (max-width: 39.9375em) {
  .info-block {
    height: 550px;
  }
}
.info-block__top-section {
  height: 100%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 64em) {
  .info-block__top-section .cell:nth-child(1) {
    order: 1;
    padding-top: 50px;
  }
}
@media screen and (max-width: 64em) {
  .info-block__top-section .cell:nth-child(3) {
    padding-top: 50px;
  }
}
.info-block__image-containter {
  height: 100%;
}
.info-block__image-containter .image-1, .info-block__image-containter .image-2, .info-block__image-containter .image-3 {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}
.info-block__image-containter .image-1 {
  background-image: url("../images/running.png");
  clip-path: polygon(20% 100%, 80% 100%, 100% 0%, 0% 0%);
}
@media screen and (max-width: 64em) {
  .info-block__image-containter .image-1 {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
}
.info-block__image-containter .image-2 {
  background-image: url("../images/kissing.png");
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.info-block__image-containter .image-3 {
  background-image: url("../images/walking.png");
  clip-path: polygon(20% 100%, 80% 100%, 100% 0%, 0% 0%);
}

.accent-background {
  width: 100%;
  height: 500px;
  background-color: #9ba966;
  position: relative;
  top: -260px;
  padding-bottom: 60px;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .accent-background {
    top: -245px;
  }
}
@media screen and (max-width: 39.9375em) {
  .accent-background {
    height: 390px;
  }
}
.accent-background h2 {
  font-size: 50px;
}
@media screen and (max-width: 39.9375em) {
  .accent-background h2 {
    font-size: 22px;
  }
}
.accent-background h5, .accent-background p, .accent-background a {
  color: black;
}
.accent-background h4 {
  font-family: "montserrat-light", truetype;
  font-size: 40px;
}
@media screen and (max-width: 39.9375em) {
  .accent-background h4 {
    font-size: 18px;
  }
}

.countdown-block {
  height: 500px;
  position: relative;
  margin-top: -260px;
  /*top: -145px;
  margin: -115px 0;*/
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("data:image/svg+xml,%3Csvg preserveAspectRatio='xMidYMid slice' viewBox='10 10 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E%40keyframes rotate%7B0%25%7Btransform%3Arotate%280deg%29%7D100%25%7Btransform%3Arotate%28360deg%29%7D%7D.out-top%7Banimation%3Arotate%2020s linear infinite%3Btransform-origin%3A13px%2025px%7D.in-top%7Banimation%3Arotate%2010s linear infinite%3Btransform-origin%3A13px%2025px%7D.out-bottom%7Banimation%3Arotate%2025s linear infinite%3Btransform-origin%3A84px%2093px%7D.in-bottom%7Banimation%3Arotate%2015s linear infinite%3Btransform-origin%3A84px%2093px%7D%3C/style%3E%3C/defs%3E%3Cpath fill='%239ba966' class='out-top' d='M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z'%3E%3C/path%3E%3Cpath fill='%23a97366' class='in-top' d='M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z'%3E%3C/path%3E%3Cpath fill='%23a97366' class='out-bottom' d='M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z'%3E%3C/path%3E%3Cpath fill='%23a97366' class='in-bottom' d='M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z'%3E%3C/path%3E%3C/svg%3E");
  /*@media screen and (min-width: 40em) and (max-width: 63.9375em) {
      margin: -100px 0;
  }*/
}
.countdown-block h1 {
  font-size: 90px;
  color: black;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .countdown-block h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 40em) {
  .countdown-block h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 39.9375em) {
  .countdown-block h1 {
    font-size: 38px;
  }
}

.contact {
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 75px;
  position: relative;
  top: -30px;
  background-color: #a97366;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .contact {
    top: -45px;
  }
}
.contact h2 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 50px;
  color: white;
}
.contact h3 {
  font-size: 48px;
  line-height: 1;
  font-weight: 200;
  font-family: "montserrat-light", truetype;
  letter-spacing: 10px;
  color: #9ba966;
}
.contact p {
  font-size: 28px;
}
.contact h2, .contact p {
  text-align: center;
  font-weight: 600;
}
.contact .contact__wrapper {
  padding: 160px;
  margin-bottom: 110px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  background-image: url("../images/flower-bg.jpg");
}
@media screen and (max-width: 64em) {
  .contact .contact__wrapper {
    padding: 120px 60px;
  }
}
.contact .contact__wrapper textarea {
  margin: 0 0 1.5rem;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}
@media screen and (max-width: 64em) {
  .contact .contact__wrapper textarea {
    width: 100%;
  }
}
.contact .contact__wrapper .dietary-requirement-label {
  position: absolute;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .contact .contact__wrapper .dietary-requirement-label {
    width: 170px;
  }
}
@media screen and (max-width: 39.9375em) {
  .contact .contact__wrapper .dietary-requirement-label {
    width: 250px;
  }
}
.contact .contact__wrapper .diet-req {
  position: relative;
  z-index: 1;
}
.contact .contact__wrapper textarea[rows] {
  margin-top: 25px;
  height: 30px;
  font-family: "Dancing Script", sans-seri;
  font-size: 24px;
}
.contact .contact__wrapper h5 {
  font-family: "Dancing Script", sans-seri;
  text-align: center;
  padding-top: 30px;
}
.contact .contact__wrapper label {
  font-weight: 600;
  font-size: 24px;
  font-family: "Dancing Script", sans-seri;
}
.contact .contact__wrapper .sbt-btn {
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  cursor: pointer;
  width: fit-content;
  border: none;
  background-color: transparent;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  animation: ease-in-out 0.5s;
  transition: all 0.5s;
  font-family: "montserrat-light", truetype;
  color: black;
}
.contact .contact__wrapper .sbt-btn:hover {
  padding: 10px;
  cursor: pointer;
}
.contact .btn-container {
  margin: 50px 0;
}
.contact #thankYouMessage {
  text-align: center;
  padding-bottom: 70px;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  color: black;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  width: 300px;
  background: white;
  height: 200px;
  overflow-y: scroll;
}

.dropdown-check-list ul.items li {
  list-style: none;
  color: black;
  font-family: "Dancing Script", sans-seri;
  font-size: 20px;
}
.dropdown-check-list ul.items li input {
  margin: 0 20px;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
  z-index: 2;
}
