@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coustard:900&display=swap");
@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/montserrat-light.ttf") format("truetype");
}
@font-face {
  font-family: "keept__";
  src: url("../fonts/keept__.ttf") format("truetype");
}
/* Small only */
/* Medium and up */
/* Medium and down */
/* Medium only */
/* Large and up */
/* Large and down */
/* Large only */
